<section id="jl-edu-intro" class="jl-edu jl-edu-intro py-5 pb-10 bg-i">
  <div class="container">
    <div class="row items-center">
      <div class="offset-1 col-11 offset-md-0 col-md-4">
        <span class="jl-bg-secondary w-[75px] h-[75px] rounded-full d-block jl-text-tertiary d-flex justify-content-center items-center text-center mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
          </svg>
        </span>
        <h5>Praesent laoreet, lorem vel iaculis euismod, magna nunc eleifend ligula, nec sollicitudin tortor felis id magna. Donec venenatis pulvinar nisi.</h5>
        <a href="#" class="btn btn-primary jl-bg-primary jl-text-tertiary d-flex align-items-center justify-content-center d-inline-block my-2 w-[150px] text-center border-0">
          <span class="uppercase">Saber M치s</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
        </a>
      </div>
      <div class="offset-md-1 col-md-7 flex content-between items-center">
        <div class="row d-md-flex align-items-center">
          <div class="col-12 col-md-6">
            <div class="jl-edu-intro__box-item flex flex-col content-center items-center">
              <div class="jl-edu-intro__box-item__link relative py-3">
                <div class="jl-edu-intro__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0, 0, 265.23, 240.11">
                    <g id="Layer_1">
                      <path d="M213.471,88.167 L248.43,79.63 L158.19,193.447 z M16.679,77.042 L48.779,85.76 L102.276,189.981 z M130.862,9.348 C175.645,9.348 201.713,15.032 208.098,18.695 C203.828,21.146 190.739,24.498 169.147,26.45 L169.086,26.447 L169.007,26.463 C158.345,27.422 145.628,28.042 130.862,28.042 C86.079,28.042 60.011,22.359 53.624,18.695 C60.011,15.032 86.079,9.348 130.862,9.348 M217.875,30.385 L251.952,69.148 L215.318,78.094 z M137.237,95.412 L202.187,89.552 L135.772,216.031 z M127.89,95.295 L126.417,216.544 L60.148,87.44 z M46.908,75.565 L13.048,66.369 L43.98,30.42 z M55.949,70.559 L53.238,28.726 C57.679,30.437 63.666,31.906 71.424,33.217 C76.513,34.078 82.138,34.813 88.162,35.417 z M123.635,85.392 L61.623,78.202 L96.224,40.455 z M132.625,82.18 L104.879,36.694 C113.17,37.149 121.908,37.39 130.862,37.39 C141.203,37.39 151.258,37.071 160.663,36.466 z M204.373,79.97 L141.466,85.646 L170.026,39.081 z M206.5,67.969 L178.685,34.857 C182.79,34.374 186.685,33.828 190.301,33.217 C198.129,31.894 204.152,30.41 208.605,28.679 z M264.066,68.773 L218.175,16.571 C216.521,10.936 207.928,7.153 190.301,4.173 C174.382,1.483 153.273,-0 130.862,-0 C108.451,-0 87.342,1.483 71.424,4.173 C53.767,7.157 45.177,10.948 43.544,16.598 L1.13,65.889 C-0.306,67.559 -0.382,70.005 0.949,71.76 L127.116,238.232 C127.37,238.572 127.668,238.874 127.999,239.131 L128.007,239.138 L128.018,239.145 L128.02,239.147 L128.027,239.152 L128.034,239.159 L128.043,239.163 C128.174,239.264 128.309,239.355 128.45,239.439 L128.451,239.439 L128.46,239.446 L128.47,239.451 L128.477,239.456 L128.48,239.459 C129.181,239.873 129.993,240.106 130.84,240.11 L130.862,240.11 C131.529,240.11 132.173,239.969 132.761,239.707 L132.763,239.707 L132.774,239.702 L132.776,239.7 C133.196,239.512 133.587,239.261 133.936,238.959 L133.943,238.951 C134.162,238.759 134.364,238.546 134.545,238.314 L264.219,74.762 C265.622,72.991 265.558,70.47 264.066,68.773" fill="#cdc9cf" id="path69164"/>
                    </g>
                  </svg>
                </div>
                <h3 class="jl-text-primary z-2">Aprende de Joyeria</h3>
                <p>Las joyas expresan arte, identidad y emociones; reflejan momentos especiales y nuestra misi칩n es ayudarte a elegir las ideales.</p>
                <a href="/aprende-de-joyeria" class="btn btn-primary jl-bg-primary jl-text-tertiary d-flex justify-content-center align-items-center d-inline-block w-[150px] border-0">
                  <span class="uppercase mr-2">Saber Mas</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                  </svg>
                </a>
              </div>
              <div class="jl-edu-intro__box-item__link relative py-3">
                <div class="jl-edu-intro__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve">
                    <path fill="#cdc9cf" d="M966.082,700.254c-2.911-41.475-12.285-84.254-26.162-127.125c0.342-3.257-0.729-6.486-2.916-8.903  C853.7,317.819,624.833,71.135,608.83,54.093c-0.077-0.093-0.185-0.159-0.265-0.249c-0.102-0.115-0.19-0.239-0.298-0.351  c-0.005-0.006-0.009-0.012-0.015-0.018c-0.339-0.349-0.719-0.655-1.104-0.961c-0.163-0.129-0.313-0.266-0.483-0.387  c-0.052-0.037-0.098-0.079-0.15-0.115c-0.43-0.295-0.901-0.535-1.378-0.774c-0.208-0.105-0.404-0.229-0.617-0.321  c-0.036-0.015-0.065-0.042-0.101-0.057c-0.018-0.007-0.036-0.007-0.053-0.014c-0.068-0.027-0.123-0.07-0.19-0.096  c-0.304-0.118-0.616-0.163-0.924-0.254c-0.332-0.099-0.658-0.205-0.999-0.275c-0.243-0.049-0.486-0.085-0.729-0.117  c-0.157-0.021-0.31-0.022-0.466-0.036c-0.361-0.034-0.718-0.069-1.084-0.069c-0.339,0.002-0.671,0.038-1.007,0.069  c-0.421,0.038-0.837,0.077-1.258,0.162c-0.31,0.064-0.606,0.162-0.907,0.251c-0.325,0.094-0.653,0.144-0.974,0.269  c-0.076,0.029-0.138,0.077-0.213,0.108c-0.013,0.005-0.026,0.006-0.038,0.011c-0.03,0.013-0.053,0.034-0.083,0.046  c-0.219,0.094-0.42,0.219-0.632,0.326c-0.476,0.238-0.945,0.478-1.374,0.772c-0.046,0.032-0.09,0.068-0.135,0.101  c-0.136,0.096-0.254,0.209-0.385,0.311c-0.427,0.331-0.844,0.667-1.215,1.049c-0.012,0.012-0.02,0.025-0.031,0.037  c-0.079,0.082-0.144,0.175-0.221,0.259c-0.062,0.068-0.144,0.118-0.205,0.188c-14.888,15.844-244.773,263.198-328.301,510.272  c-2.185,2.417-3.256,5.645-2.912,8.9c-13.877,42.87-23.25,85.648-26.161,127.122c-11.02,156.994,23.227,276.036,101.78,353.818  C423.763,1141.278,540.794,1150,584.086,1150c8.137,0,13.669-0.306,15.914-0.459c14.196,0.967,159.767,8.078,264.335-95.498  C942.868,976.258,977.098,857.225,966.082,700.254z M556.209,384.731L373.245,679.067l84.61-218.524L556.209,384.731z   M473.903,419.096l68.807-177.706l42.566,91.86L473.903,419.096z M589.097,375.445v248.911l-225.218,113.4L589.097,375.445z   M598.165,645.573l244.032,124.274L600,935.699L355.072,767.973L598.165,645.573z M614.726,333.25l42.566-91.861l68.808,177.71  L614.726,333.25z M742.148,460.545l84.61,218.52L643.793,384.732L742.148,460.545z M838.995,742.372L612.127,626.839V377.413  L838.995,742.372z M775.763,483.588l139.165,93.119l-46.125,147.172L775.763,483.588z M904.027,541.702L767.292,450.21  l27.181-117.418C836.281,397.862,876.031,469.646,904.027,541.702z M750.831,419.197l-65.066-168.045l90.33,58.911L750.831,419.197z   M748.274,264.425l-76.751-50.055l-37.527-96.923C663.464,152.126,705.072,203.461,748.274,264.425z M600,93.424l45.81,118.31  c-0.232,0.378-0.497,0.732-0.686,1.138L600,310.247l-45.123-97.375c-0.189-0.406-0.454-0.76-0.686-1.138L600,93.424z   M566.006,117.446l-37.527,96.923l-76.753,50.055C494.929,203.46,536.537,152.125,566.006,117.446z M514.237,251.151L449.171,419.2  l-25.264-109.137L514.237,251.151z M405.528,332.792l27.18,117.418l-136.734,91.492C323.97,469.646,363.72,397.862,405.528,332.792z   M424.241,483.586l-93.038,240.292l-46.129-147.171L424.241,483.586z M256.894,701.864c2.027-28.894,7.451-58.606,15.487-88.648  l45.484,145.109l-48.71,125.805C256.263,831.29,252.075,770.5,256.894,701.864z M351.904,1037.709  c-26.073-25.816-46.81-56.774-62.393-92.533l271.668,180.796C510.99,1122.398,420.809,1105.945,351.904,1037.709z M282.68,912.97  l49.47-127.764c74.473,99.309,194.293,259.209,239.727,320.227L282.68,912.97z M600,1104.68  c-33.709-45.475-151.257-202.348-216.431-289.281l209.518,143.473c2.112,1.446,4.533,2.057,6.91,1.97  c2.379,0.088,4.802-0.523,6.916-1.97l209.523-143.475C751.263,902.332,633.713,1059.205,600,1104.68z M848.129,1037.68  c-68.878,68.224-159.083,84.696-209.291,88.282L910.49,945.178C894.914,980.923,874.186,1011.87,848.129,1037.68z M628.123,1105.433  c45.436-61.018,165.258-220.917,239.732-320.226l49.469,127.764L628.123,1105.433z M930.848,884.125L882.14,758.326l45.48-145.108  c8.035,30.041,13.46,59.753,15.487,88.646C947.925,770.499,943.739,831.287,930.848,884.125z"/>
                  </svg>
                </div>
                <h3 class="jl-text-primary z-2">Aprende de Gemologia</h3>
                <p>Las joyas expresan arte, identidad y emociones; reflejan momentos especiales y nuestra misi칩n es ayudarte a elegir las ideales.</p>
                <a href="/aprende-de-joyeria" class="btn btn-primary jl-bg-primary jl-text-tertiary d-flex justify-content-center align-items-center d-inline-block w-[150px] border-0">
                  <span class="uppercase mr-2">Saber Mas</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="jl-edu-intro__box-item">
              <div class="jl-edu-intro__box-item__link relative py-3">
                <div class="jl-edu-intro__icon z-0">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" viewBox="0 0 290 290" xml:space="preserve">
                    <g>
                      <path style="fill:transparent;" d="M33.148,236.852V53.148c0-11.046,8.954-20,20-20h183.703c11.046,0,20,8.954,20,20v183.703   c0,11.046-8.954,20-20,20H53.148C42.103,256.852,33.148,247.897,33.148,236.852z"/>
                      <rect x="63.148" y="63.148" style="fill:transparent;" width="163.703" height="163.703"/>
                      <rect x="56.027" y="256.852" style="fill:transparent;" width="177.945" height="28.148"/>
                      <rect x="89.773" y="5" style="fill:transparent;" width="110.453" height="28.148"/>
                      <g>
                        <path style="fill:#cdc9cf;" d="M236.852,28.148h-31.625V5c0-2.761-2.239-5-5-5H89.773c-2.761,0-5,2.239-5,5v23.148H53.148    c-13.785,0-25,11.215-25,25v183.703c0,13.07,10.084,23.823,22.879,24.904V285c0,2.761,2.239,5,5,5h177.945c2.761,0,5-2.239,5-5    v-23.245c12.795-1.081,22.879-11.833,22.879-24.904V53.148C261.852,39.363,250.637,28.148,236.852,28.148z M94.773,10h100.453    v18.148H94.773V10z M228.973,280H61.027v-18.148h167.945L228.973,280L228.973,280z M251.852,236.852c0,8.271-6.729,15-15,15    c-8.708,0-175.957,0-183.703,0c-8.271,0-15-6.729-15-15V53.148c0-8.271,6.729-15,15-15c6.117,0,175.133,0,183.703,0    c8.271,0,15,6.729,15,15V236.852z"/>
                        <path style="fill:#cdc9cf;" d="M226.852,58.148H63.148c-2.761,0-5,2.239-5,5v163.703c0,2.761,2.239,5,5,5h163.703    c2.761,0,5-2.239,5-5V63.148C231.852,60.387,229.613,58.148,226.852,58.148z M221.852,221.852H68.148V68.148h153.703    L221.852,221.852L221.852,221.852z"/>
                        <path style="fill:#cdc9cf;" d="M135.265,159.735h19.47c2.761,0,5-2.239,5-5v-19.47c0-2.761-2.239-5-5-5H150V80.222    c0-2.761-2.239-5-5-5s-5,2.239-5,5v50.043h-4.735c-2.761,0-5,2.239-5,5v19.47C130.265,157.496,132.504,159.735,135.265,159.735z     M149.735,149.735h-9.47v-9.47h9.47V149.735z"/>
                      </g>
                    </g>
                  </svg>
                </div>
                <h3 class="jl-text-primary z-2">Aprende de Relojeria</h3>
                <p>Las joyas expresan arte, identidad y emociones; reflejan momentos especiales y nuestra misi칩n es ayudarte a elegir las ideales.</p>
                <a href="/aprende-de-joyeria" class="btn btn-primary jl-bg-primary jl-text-tertiary d-flex justify-content-center align-items-center d-inline-block w-[150px] border-0">
                  <span class="uppercase mr-2">Saber Mas</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss" is:global>
  .jl-edu-intro {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://joyerialondres.com/web/image/468438/introduction.png");
      z-index: -2;
    }
  }
  .jl-edu-intro__icon {
    position: relative;
    top: 75px;
    left: -60px;
    width: 150px;
    z-index: -1 !important;

    @media screen and (max-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,.75), rgba(255,255,255,0));
    }
  }
</style>