<section id="jl-edu-jumbotron" class="jl-edu jl-edu-jumbotron py-30 bg-[url(https://joyerialondres.com/web/image/468401/jumbotron.png)] h-auto">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-12 offset-md-1 col-md-5">
        <h1 class="jl-text-primary md:text-7xl! leading-12 mb-4">Conviertete en un experto</h1>
        <p class="jl-text-tertiary">Desde las características que componen un diamante de calidad hasta cómo comprar un estilo en particular, tenemos toda la educación que necesita para navegar por el mundo de las joyas finas.</p>
        <a href="#jl-edu-introducction" class="btn btn-primary jl-bg-primary jl-text-tertiary border-0">Iniciar Recorrido</a>
      </div>
      <div class="d-none d-md-block offset-md-1 col-md-5" data-tilt>
        <figure class="rounded-full relative w-75 h-100 bg-stone-50/5">
          <a href="#" class="absolute top-0 -left-10 hover:scale-105 transition">
            <img src="https://joyerialondres.com/web/image/468404/diamond.png" alt="link-edu-relojeria" class="img img-fluid w-45">
          </a>
          <a href="#" class="absolute top-0 -right-10 hover:scale-105 transition">
            <img src="https://joyerialondres.com/web/image/468403/ruby.png" alt="link-edu-gemologia" class="img img-fluid w-45">
          </a>
          <a href="#" class="absolute -bottom-15 left-25 hover:scale-105 transition">
            <img src="https://joyerialondres.com/web/image/468402/watch.png" alt="link-edu-joyeria" class="img img-fluid w-30">
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
