<section id="jl-imagenes" class="jl-imagenes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>Megamenu Joyeria - 800x500</p>
      </div>
      <figure class="w-auto">
        <img src="/web/image/placeholder.png" alt="800x500" class="img img-fluid w-[800px] h-[500px]">
      </figure>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>Megamenu Matrimonio - 200x200</p>
      </div>
      <figure class="w-auto">
        <img src="/web/image/placeholder.png" alt="200x200" class="img img-fluid w-[200px] h-[200px]">
      </figure>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>Megamenu Relojeria - 600x200</p>
      </div>
      <figure class="w-auto">
        <img src="/web/image/placeholder.png" alt="600x200" class="img img-fluid w-[600px] h-[200px]">
      </figure>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>Megamenu Accesorios - 400x400</p>
      </div>
      <figure class="w-auto">
        <img src="/web/image/placeholder.png" alt="400x400" class="img img-fluid w-[400px] h-[400px]">
      </figure>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>Megamenu Servicios - 700x300</p>
      </div>
      <figure class="w-auto">
        <img src="/web/image/placeholder.png" alt="700x300" class="img img-fluid w-[700px] h-[300px]">
      </figure>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>Megamenu Educacion - 120x80 - Redondeo 15pt</p>
      </div>
      <figure class="w-auto">
        <img src="/web/image/placeholder.png" alt="120x80__15pt" class="img img-fluid w-[120px] h-[80px]">
      </figure>
    </div>
  </div>
</section>