:root {
  --jl-primary-color: #AB8F3D;
  --jl-secondary-color: #000000;
  --jl-tertiary-color: #FFFFFF;
  --jl-gray-color: #CCCCCC;
  --spacing-z: 1rem;
  --spacing-x: 0rem 1rem;
  --spacing-t: 1rem 0rem 0rem 0rem;
  --spacing-b: 0rem 0rem 1rem 0rem;
  --spacing-l: 0rem 0rem 0rem 1rem;
  --spacing-r: 0rem 1rem 0rem 0rem;
  --spacing-y: calc(1rem - 5px) 0rem
}