#section {
  &-ship-pay-methods {
    background-image: url(https://joyerialondres.com/web/image/361834/aed9e6c6-38f8-40a4-bb1a-0606a9f65a29.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    .jl {
      &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        @include mq( phone-xl, max) {
          flex-direction: column;
        }
        &__img {
          order: 1;
          width: 30%;
          @include mq( phone-xl, max) {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-left: 2rem;
          }
          img {
            width: auto;
            max-width: 80%;
            padding: var(--spacing-b);
          }
        }
        &__link {
          z-index: 2;
          order: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30%;
          &-item {
            display: inline-block;
            width: auto;
            margin: var(--spacing-x);
            perspective: 1000px;
            position: relative;
            transition: ease .3s all;
            animation: bounce infinite 1s;
            transform-origin: center bottom;
            &:hover {
              animation-play-state: paused;
              .jl-content__link-item--coin { 
                transform: rotateY(160deg); 
              }
            }
            &:nth-child(1) .jl-content__link-item--coin { 
              background-color: var(--jl-primary-color); 
            }
            &:nth-child(2) .jl-content__link-item--coin { 
              background-color: var(--jl-secondary-color); 
              img { 
                filter: grayscale(1) brightness(1000%) contrast(0); 
              } 
            }
            &--coin {
              transition: transform .6s;
              display: block;
              width: 100px;
              height: 100px;
              padding: 1.5rem;
              border-radius: 50%;
              box-shadow: 0px 0px 5px rgba($secondary-color, .5);
              img {
                width: auto;
                max-width: 100%;
              }
            }
          }
        }
        &__description {
          z-index: 2;
          order: 3;
          display: flex;
          flex-direction: column;
          width: 30%;
          text-align: right;
          @include mq( phone-xl, max) {
            width: 90%;
            text-align: center;
          }
          h4 {
            margin: var(--spacing-y);
            padding: 0;
            color: var(--jl-primary-color);
            line-height: auto;
          }
          p {
            margin: var(--spacing-t);
          }
          ul {
            padding-right: 1.5rem;
            li::marker {
              color: var(--jl-primary-color);
            }
          }
        }
      }
    }
  }
  &-about-us {
    .jl {
      &-content {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq( phone-xl, max) {
          flex-direction: column;
          height: 300px;
        }
        &:hover  {
          @include mq( phone-xl, min) {
            .jl-content__sidebar, .jl-content__link {
              margin-left: 0%;
              display: inline-flex;
              &-item h2, &-item p {
                opacity: 1;
              }
              a {
                opacity: 1;
              }
            }
          }
        }
        &__slider {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          object-fit:fill;
          object-position: center;
        }
        &__link {
          position: relative;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 100%;
          min-height: 75vh;
          z-index: 2;
          margin-left: 100%;
          a {
            opacity: 0;
            background-color: rgba($primary-color, 1);
            width: 75px;
            height: 75px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            box-shadow: 0px 0px 10px rgba($secondary-color, .5);
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
            i, svg, span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) !important;
              display: inline;
              width: auto;
              z-index: 999;
              color: #fff;
            }
            &:hover i, svg, span {
              transform: scale(1.1);
              transition: ease .3s all;
            }
          }
        }
        &__sidebar {
          position: relative;
          display: block;
          z-index: 2;
          margin-left: 100%;
          width: 30%;
          height: 100%;
          min-height: 75vh;
          transition: ease .5s all;
          background-color: var(--jl-tertiary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 3rem;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          box-shadow: 1px 0px 5px rgba($secondary-color, .5);
          display: none;
          @include mq( phone-xl, max) {
            margin-left: 0;
            width: 100%;
          }
          &-item {
            text-align: right;
            h2 {
              color: var(--jl-primary-color);
              opacity: 0;
            }
            p {
              color: var(--jl-secondary-color);
              opacity: 0;
            }
          }
        }
      }
    }
  }
  &-social-media {
    .jl {
      &-container { display: block; }
      &-row { width: 100%; }
      &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        &__item {
          position: relative;
          width: 150px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          &-link:hover {
            transition: ease .3s all;
            transform: scale(1.05);
            .jl-content__icon i, svg { 
              transition: ease .3s all;
              transform: scale(1.05);
              color: var(--jl-primary-color);
              text-shadow: none;
              background: none;
              -webkit-background-clip: unset;
              -webkit-text-fill-color: unset;
            }
            .jl-content__img { animation-play-state: paused; }
          }
        }
        &__img {
          animation: socialRotate 15s infinite;
          animation-timing-function: linear;
          z-index: 1;
        }
        &__icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          i, svg {
            font-size: 2rem;
            // text-shadow: 1px 1px 0 var(--jl-primary-color), -1px -1px 0 var(--jl-primary-color), -1px 1px 0 var(--jl-primary-color), 1px -1px 0 var(--jl-primary-color);
          }
        }
      }
    }
  }
  &-jl-main-banner {
    position: relative;
    height: 60vh;
    background-color: #000;
    @include mq( phone-xl, max) {
      height: 90vh;
    }
    picture, picture source, picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      @include mq( phone-xl, max) {
        min-height: 90vh;
      }
    }
    .jl {
      &-container-fluid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%;
        @include mq( phone-xl, max) {
          width: 90%;
          height: 100%;
        }
      }
      &-row {
        width: auto;
        margin: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      &-content {
        // width: 70%;
        height: auto;
        margin: 0 auto;
        text-align: left;
        h1 {
          color: rgba($primary-color, 1);
          font-size: 5rem;
          line-height: 5rem;
          font-weight: 400;
          margin: 0;
          @include mq( phone-xl, max) {
            font-size: 2rem;
            line-height: 2rem;
          }
        }
        h4 {
          color: rgba($tertiary-color, .90);
          font-size: 2rem;
          line-height: 2rem;
          font-weight: 100;
          margin: 0;
          @include mq( phone-xl, max) {
            font-size: 1.5rem;
            line-height: 1.5rem;
          }
        }
        p {
          color: rgba($tertiary-color, .5);
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: 100;
          margin: 0;
          max-width: 60%;
          padding-top: 0.5rem;
          @include mq( phone-xl, max) {
            max-width: 100%;
            font-size: 1rem;
            line-height: 1rem;
          }
        }
      }
      &-button-group {
        a {
          margin-top: 1rem;
        }
      }
    }
  }
  &-triple-carousel {
    .carousel-inner {
      .carousel-item {
        min-height: unset !important;
        max-height: 50vh;
      }
    }
  }
}