.jl-instagram-icon {
  background: -webkit-linear-gradient(#405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jl-facebook-icon {
  color: #1877f2;
}
.jl-pinterest-icon {
  color: #e60023;
}