.pt48 {
  padding-top: 0px !important;
}
.te_features_design div[data-name="Box"] {
  padding: 0px !important;
}
.whatsappapi {
  z-index: 1100 !important;
}
p.alert.alert-warning {
  width: 100% !important;
}
.not_available_custom_msg.alert.alert-warning {
  display: none !important;
}
main {
  min-height: auto !important;
}