<section id="jl-mm-content-5" class="jl-mm-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="jl-mm-content-list pl-1 text-left">
          <li class="jl-mm-content-list__item">
            <a href="/shop/category/57">
              <img src="/web/image/466347/1.jpg" alt="anillos-de-compromiso" class="img img-fluid">
              <span>Anillos de Compromiso</span>
            </a>
          </li>
          <li class="jl-mm-content-list__item">
            <a href="/shop/category/58">
              <img src="/web/image/466348/2.jpg" alt="argollas-de-matrimonio" class="img img-fluid">
              <span>Argollas de Matrimonio</span>
            </a>
          </li>
          <li class="jl-mm-content-list__item">
            <a href="/shop/category/59">
              <img src="/web/image/466349/3.jpg" alt="argollas-y-pisargollas" class="img img-fluid">
              <span>Argollas y Pisargollas</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8 d-none d-md-block">
        <img class="img img-fluid" src="/web/image/403984/timeline-01.jpg" alt="banner" style="width: 100%; object-fit: cover; height: 335px;">
      </div>
    </div>
  </div>
</section>