<section id="jl-mm-content-1" class="jl-mm-content w-screen z-10">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12 text-left">
        <ul dir="ltr" role="navigation" class="jl-mm-content_list jl-mm-content_list-row px-3 pt-3 py-md-3 pt-md-0">
          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/8" data-target-image="/web/image/470329/Anillos.png">
              <span>Anillos</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/29" data-target-image="/web/image/470303/Anillos%20mujer.png">
                  <span>Mujer</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/28" data-target-image="/web/image/470331/Anillos%20Hombre.png">
                  <span>Hombre</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/31" data-target-image="/web/image/470376/Anillos%20Tejidos.png">
                  <span>Tejidos</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/30" data-target-image="/web/image/470334/Anillos%20Quince.png">
                  <span>Quinceañeras</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/26" data-target-image="/web/image/470335/Anillos%20Grado.png">
                  <span>Grado Hombre</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/27" data-target-image="/web/image/470335/Anillos%20Grado.png">
                  <span>Grado Mujer</span>
                </a>
              </li>
            </ul>

          </li>
          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/9" data-target-image="/web/image/470367/cadenas%20padre.png">
              <span>Cadenas</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/9" data-target-image="/web/image/470336/cadenas.png">
                  <span>40cm - 70cm</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/39" data-target-image="/web/image/470347/Camandulas.png">
                  <span>Camandulas</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/40" data-target-image="/web/image/470348/escapularios.png">
                  <span>Escapularios</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/41" data-target-image="/web/image/470349/gargantillas.png">
                  <span>Gargantillas</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/11" data-target-image="/web/image/470350/Pendientes.png">
              <span>Pendientes</span>
            </a>
            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/45" data-target-image="/web/image/470351/aretes.png">
                  <span>Aretes</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/46" data-target-image="/web/image/470352/candongas.png">
                  <span>Candongas</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/138" data-target-image="/web/image/470353/Piercings.png">
                  <span>Piercings</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/48" data-target-image="/web/image/470364/topos%201.png">
                  <span>Topos</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-12 text-left">
        <ul dir="ltr" role="navigation" class="jl-mm-content_list jl-mm-content_list-row px-3 pb-3 py-md-3 pn-md-0">
          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/12" data-target-image="/web/image/470366/pulseras%20y%20manillas.png">
              <span>Pulseras y Manillas</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/55" data-target-image="/web/image/470371/pulseras%20mujer.png">
                  <span>Mujer</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/54" data-target-image="/web/image/470370/pulseras%20hombre.png">
                  <span>Hombre</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/52" data-target-image="/web/image/470369/manillas.png">
                  <span>Tejidas</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/51" data-target-image="/web/image/470375/mantaraya.png">
                  <span>Mantaraya</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/53" data-target-image="/web/image/470377/pulseras%20bebe.png">
                  <span>Pulseras Bebes</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/56" data-target-image="/web/image/470389/tobilleras.png">
                  <span>Tobilleras</span>
                </a>
              </li>
            </ul>

          </li>
          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/10" data-target-image="/web/image/470390/dijes%20padre.png">
              <span>Dijes</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink" href="/shop/category/42" data-target-image="/web/image/470392/dijes%20cruces.png">
                  <span>Cruces</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink" href="/shop/category/43" data-target-image="/web/image/470391/dijes%20figuras.png">
                  <span>Figuras</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink" href="/shop/category/44" data-target-image="/web/image/470393/dijes%20religiosos.png">
                  <span>Religiosos</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/7" data-target-image="/web/image/470394/Aderezos%20padre.png">
              <span>Aderezos</span>
            </a>
            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink" href="/shop/category/20" data-target-image="/web/image/470395/Aderezos%20cad%20are%20dij.png">
                  <span>Aretas Dije y Cadena</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink" href="/shop/category/23" data-target-image="/web/image/470396/Aderezos%20cad%20dij.png">
                  <span>Cadenas y Dije</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="jl-mm-content__list--item-category">
            
            <a href="/shop/category/2" class="jl-mm-content__list--item-link" data-target-image="/web/image/470397/cuidado%20y%20repuestos%20padre.png" style="cursor: pointer;">
              <span>Cuidado y Repuestos</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink" href="/shop/category/6" data-target-image="/web/image/470399/Piezas%20de%20remplazo.png">
                  <span>Piezas de Remplazo</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink" href="/shop/category/17" data-target-image="/web/image/470398/cuidado%20y%20limpieza.png">
                  <span>Cuidado y Limpieza</span>
                </a>
              </li>
            </ul>

          </li>
        </ul>
      </div>
      <div class="col-md-6 col-12 jl-mm-content__list--item-preview d-none d-md-block">
        <a href="/shop/category/">
          <img src="/web/image/470330/joyeria.png" alt="hover-item-link" class="img img-fluid h-100 object-cover">
        </a>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Selecciona todos los megamenús una sola vez
      const megaMenus = document.querySelectorAll('.jl-mm-content');

      megaMenus.forEach(megaMenu => {
        const hoverLinks = megaMenu.querySelectorAll('[data-target-image]');
        const previewImage = megaMenu.querySelector('.jl-mm-content__list--item-preview img');
        const previewParagraph = megaMenu.querySelector('.jl-mm-content__list--item-preview p');
        const previewContainer = megaMenu.querySelector('.jl-mm-content__list--item-preview');

        // Valores originales para restaurar
        const originalSrc = previewImage?.src || '';
        const originalText = previewParagraph?.textContent || '';

        // Precarga de imágenes para mejorar la experiencia
        hoverLinks.forEach(link => {
          const src = link.getAttribute('data-target-image');
          if (src) {
            const img = new Image();
            img.src = src;
          }
        });

        // Detecta la altura máxima cuando el menú se abre
        megaMenu.addEventListener('mouseenter', () => {
          const lists = megaMenu.querySelectorAll('ul');
          let maxHeight = 0;
          lists.forEach(list => {
            maxHeight = Math.max(maxHeight, list.scrollHeight);
          });
          megaMenu.style.setProperty('--max-ul-height', `${maxHeight}px`);
        });

        hoverLinks.forEach(link => {
          link.addEventListener('mouseover', () => {
            const newSrc = link.getAttribute('data-target-image');
            const newText = link.querySelector('span')?.textContent || '';

            // Solo actualiza si cambia
            if (previewImage && newSrc && previewImage.src !== newSrc) {
              requestAnimationFrame(() => {
                previewImage.src = newSrc;
              });
            }

            if (previewParagraph && newText && previewParagraph.textContent !== newText) {
              requestAnimationFrame(() => {
                previewParagraph.textContent = newText;
              });
            }

            if (previewContainer) {
              previewContainer.classList.add('jl-mm-content__list--item-preview_hover');
            }
          });

          link.addEventListener('mouseout', () => {
            requestAnimationFrame(() => {
              if (previewImage) previewImage.src = originalSrc;
              if (previewParagraph) previewParagraph.textContent = originalText;
              if (previewContainer) {
                previewContainer.classList.remove('jl-mm-content__list--item-preview_hover');
              }
            });
          });
        });
      });
    });

  </script>
</section>