<section id="jl-mm-content-1" class="jl-mm-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 jl-mm-content__list--item-preview d-none d-md-block">
        <a href="/shop/category/150">
          <img src="/web/image/403984/timeline-01.jpg" alt="hover-item-link" class="img img-fluid w-100" style="height: 250px; object-fit: cover;">
        </a>
      </div>
      <div class="col-md-3 col-12 text-left">
        <ul dir="ltr" role="navigation" class="jl-mm-content__list jl-mm-content__list-row px-3 pt-3 py-md-3 pt-md-0">
          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/152" data-target-image="/web/image/469948/800-500.png">
              <span>Anillos</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/155" data-target-image="/web/image/469948/800-500.png">
                  <span>Mujer</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/152" data-target-image="/web/image/469948/800-500.png">
                  <span>Hombre</span>
                </a>
              </li>
            </ul>

          </li>

          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/153" data-target-image="/web/image/469948/800-500.png">
              <span>Pulseras y Manillas</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/168" data-target-image="/web/image/469948/800-500.png">
                  <span>Mujer</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/153" data-target-image="/web/image/469948/800-500.png">
                  <span>Hombre</span>
                </a>
              </li>
            </ul>

          </li>
          
        </ul>
      </div>
      <div class="col-md-3 col-12 text-left">
        <ul dir="ltr" role="navigation" class="jl-mm-content__list jl-mm-content__list-row px-3 pb-3 py-md-3 pn-md-0">
          
          <li class="jl-mm-content__list--item-category">
            <a class="jl-mm-content__list--item-link" href="/shop/category/151" data-target-image="/web/image/469948/800-500.png">
              <span>Cadenas</span>

              <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
                <li class="jl-mm-content__list--item-target">
                  <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/151" data-target-image="/web/image/469948/800-500.png">
                    <span>40cm  - 70cm</span>
                  </a>
                </li>
              </ul>
            </a>
          </li>

          <li class="jl-mm-content__list--item-category">                              
            <a class="jl-mm-content__list--item-link" href="/shop/category/157" data-target-image="/web/image/469948/800-500.png">
              <span>Pendientes</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/156" data-target-image="/web/image/469948/800-500.png">
                  <span>Aretes</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/159" data-target-image="/web/image/469948/800-500.png">
                  <span>Candongas</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/154" data-target-image="/web/image/469948/800-500.png">
                  <span>Piercings</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-1" href="/shop/category/162" data-target-image="/web/image/469948/800-500.png">
                  <span>Topos</span>
                </a>
              </li>
            </ul>

          </li> 
          
        </ul>
      </div>
      
    </div>
  </div>
</section>