<section id="jl-mm-content-4" class="jl-mm-content jl-mm-content-4">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 d-flex flex-column justify-content-between jl-mm-content-column text-left">
        <a href="/aprende-de-joyeria" class="d-block w-100 jl-mm-content-column__link">
          <div class="row py-3">
            <div class="d-none d-md-block col-3">
              <img src="/web/image/425527/Reparacion%20de%20Joyas.png" alt="aprende-de-joyeria-image" class="img img-fluid">
            </div>
            <div class="col-12 col-md-9">
              <h3 class="jl-text-primary">Aprende de Joyeria</h3>
              <p class="d-none d-md-block text-left jl-text-tertiary">Descubre los procesos detrás de una joya única. Aprende sobre metales preciosos, técnicas artesanales y cómo identificar la calidad de una pieza auténtica.</p>
            </div>
          </div>
        </a>
        <a href="/aprende-de-gemologia" class="d-block w-100 jl-mm-content-column__link">
          <div class="row py-3">
            <div class="d-none d-md-block col-3">
              <img src="/web/image/425528/Reparacion%20de%20Relojes.png" alt="aprende-de-joyeria-image" class="img img-fluid">
            </div>
            <div class="col-12 col-md-9">
              <h3 class="jl-text-primary">Aprende de Gemologia</h3>
              <p class="d-none d-md-block text-left jl-text-tertiary">Conoce el fascinante mundo de las gemas: su origen, características y cómo distinguir una piedra preciosa verdadera de una imitación.</p>
            </div>
          </div>
        </a>
        <a href="/aprende-de-relojeria" class="d-block w-100 jl-mm-content-column__link">
          <div class="row py-3">
            <div class="d-none d-md-block col-3">
              <img src="/web/image/424984/image-4.png" alt="aprende-de-joyeria-image" class="img img-fluid">
            </div>
            <div class="col-12 col-md-9">
              <h3 class="jl-text-primary">Aprende de Relojeria</h3>
              <p class="d-none d-md-block text-left jl-text-tertiary">Explora el arte de la relojería: desde los movimientos mecánicos hasta los cuidados que alargan la vida útil de un reloj. Ideal para amantes del tiempo y la precisión.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="d-none d-md-block col-md-6 jl-mm-content-column jl-mm-content-column__side text-left">
        <img class="img img-fluid" src="/theme_clarico_vega/static/src/img/snippets/offer_styles/style_9/865_750.png" alt="">
        <div class="jl-mm-content-box bg-light p-3">
          <h3 class="jl-text-primary">¿Necesitas asesoria Personalizada?</h3>
          <p class="mb-3">Ya sea para un regalo especial, una joya a medida o resolver tus dudas, en Joyería Londres te ofrecemos atención personalizada con el respaldo de más de 80 años de experiencia.</p>
          <a href="/shop/category/" target="_blank" class="btn btn-primary">CONTACTAR</a>
        </div>
      </div>
    </div>
  </div>
</section>