<section id="jl-mm-content-1" class="jl-mm-content">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6 col-12 jl-mm-content__list--item-preview d-none d-md-block">
        <a href="/shop/category/5">
          <img src="/web/image/423442/portada-black-friday.jpg" alt="hover-item-link" class="img img-fluid w-100" style="height: 250px; object-fit: cover;">
        </a>
      </div>

      <div class="col-md col-12 text-left">
        <ul dir="ltr" role="navigation" class="jl-mm-content__list jl-mm-content__list-row px-3 py-md-3">
          <li class="jl-mm-content__list--item-category">
            
            <a href="/shop/category/137" class="jl-mm-content__list--item-link" data-target-image="/web/image/469948/800-500.png">
              <span>Masculino</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/171" data-target-image="/web/image/469948/800-500.png">
                  <span>Bulova</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/61" data-target-image="/web/image/469948/800-500.png">
                  <span>Casio</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/65" data-target-image="/web/image/469948/800-500.png">
                  <span>D'Mario</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/74" data-target-image="/web/image/469948/800-500.png">
                  <span>Orient</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/75" data-target-image="/web/image/469948/800-500.png">
                  <span>Q&Q</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/77" data-target-image="/web/image/469948/800-500.png">
                  <span>Tempus</span>
                </a>
              </li>
            </ul>

          </li>
        </ul>
      </div>

      <div class="col-md col-12 text-left">
        <ul dir="ltr" role="navigation" class="jl-mm-content__list jl-mm-content__list-row px-2 py-md-3">
          <li class="jl-mm-content__list--item-category">
            <a href="/shop/category/137" class="jl-mm-content__list--item-link" data-target-image="/web/image/469948/800-500.png">
              <span>Femenino</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/172" data-target-image="/web/image/469948/800-500.png">
                  <span>Bulova</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/80" data-target-image="/web/image/469948/800-500.png">
                  <span>Casio</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/84" data-target-image="/web/image/469948/800-500.png">
                  <span>D'Mario</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/93" data-target-image="/web/image/469948/800-500.png">
                  <span>Orient</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/94" data-target-image="/web/image/469948/800-500.png">
                  <span>Q&Q</span>
                </a>
              </li>
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/96" data-target-image="/web/image/469948/800-500.png">
                  <span>Tempus</span>
                </a>
              </li>
            </ul>

          </li>
        </ul>
      </div>

      <div class="col-md col-12">
        <ul dir="ltr" role="navigation" class="jl-mm-content__list jl-mm-content__list-row px-3 py-md-3">
          <li class="jl-mm-content__list--item-category">
            <a href="/shop/category/118" class="jl-mm-content__list--item-link" data-target-image="/web/image/469948/800-500.png">
              <span>Hogar</span>
            </a>

            <ul dir="ltr" role="navigation" class="jl-mm-content__list--item-subcategory px-2">
              <li class="jl-mm-content__list--item-target">
                <a class="jl-mm-content__list--item-sublink p-2 p-md-0" href="/shop/category/99" data-target-image="/web/image/469948/800-500.png">
                  <span>Casio</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>