<section id="jl-mm-content-3" class="jl-mm-content jl-mm-content-3">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center py-3">
      <div class="col-6 col-md p-2 jl-mm-content-item">
        <a href="/reparacion-de-joyas" class="jl-mm-content-item__link">
          <img src="https://pruebas.joyerialondres.com/web/image/466387/3.jpg" alt="service-3" class="img img-fluid">
          <span>Reparacion de Joyas</span>
        </a>                          
      </div>
      <div class="col-6 col-md p-2 jl-mm-content-item">
        <a href="/reparacion-de-relojes-de-pulso" class="jl-mm-content-item__link">
          <img src="https://pruebas.joyerialondres.com/web/image/466389/1.jpg" alt="service-5" class="img img-fluid">
          <span>Reparación de Relojes</span>
        </a>                          
      </div>
      <div class="col-6 col-md p-2 jl-mm-content-item">
        <a href="/chequeo-de-piedras-preciosas" class="jl-mm-content-item__link">
          <img src="https://pruebas.joyerialondres.com/web/image/466386/4.jpg" alt="service-1" class="img img-fluid">
          <span>Chequeo de Piedras Preciosas</span>
        </a>                            
      </div>
      <div class="col-6 col-md p-2 jl-mm-content-item">
        <a href="/chequeo-de-oro" class="jl-mm-content-item__link">
          <img src="https://pruebas.joyerialondres.com/web/image/466385/5.jpg" alt="service-2" class="img img-fluid">
          <span>Chequeo y compra de oro</span>
        </a>                          
      </div>
    </div>
  </div>
</section>